.chat-scores {
  margin-top:25px;
  width:300px;
  float:left;
  padding-bottom:50px;
  position:relative;
}

.chat {
  height:50%;
  max-width:300px;
  margin-bottom:10px;
}

.scores {
  overflow-y:auto;
  clear:right;
}
.message-area {
  max-height:90%;
  overflow-y:auto;
}

  
.self-said {
  background-color:#00CC00;
  font-weight:bold;
}

.other-said {
  background-color:#0033FF;
  font-weight:bold;
}
