.chat {
  margin-top:25px;
  min-width:300px;
  float:left;
  padding-bottom:50px;
  position:relative;
}

.message-area {
  max-height:90%;
  overflow-y:scroll;
  padding-bottom:20px;
}

.self-said {
  background-color:#00CC00;
  font-weight:bold;
}

.other-said {
  background-color:#0033FF;
  font-weight:bold;
}
